a{text-decoration: none;}
body{
	font-family: 'Roboto Condensed', sans-serif;
}
.elemento {
    width: 100%;
}
#menu {
    background-color: #000000;
    height: 45px;
    border-bottom: 3px solid #F49828;
    position: fixed;
    top: 0;
    z-index: 10;
}
#menu_display {
    width: 40px;
    height: 30px;
    margin: 7px;
    float: left;
    display: none;
}
#menu_display span {
    display: inline-block;
    border: 2px solid #F49828;
    width: 36px;
    float: left;
    margin: 3px 0px;
    cursor: pointer;
}
#menu_movil_logo {
    color: rgb(255, 255, 255);
    float: left;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 28px;
    width: 100%;
    position: absolute;
    z-index: -5;
    display: none;
}
#menu_content {
    width: 800px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    line-height: 45px;
}
.menu_element {
    color: #FFFFFF;
    display: inline-block;
    margin: 0px 45px;	
}
.menu_element:hover {
	color: #F49828;
}
.logos span {
    font-style: italic;
    font-weight: 100;
}
#portada {
    height: 800px;
    background-size: cover;
    background-image: url("../images/cover.jpg");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}
#portada_fill {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
#portada_content {
   	width: 335px;
	margin: auto;
	z-index: 2;
	position: absolute;
	left: 0px;
	right: 0px;
	color: rgb(255, 255, 255);
	text-align: center;
	top: 0px;
	bottom: 0px;
	height: 480px;
}
#portada_logo {
    width: 250px;
    height: 250px;
    line-height: 250px;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 250px;
    margin: auto;
    font-size: 60px;
}
#portada_bnt {
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: #F49828;
    font-size: 30px;
    position: absolute;
    bottom: 0;
}
#menus{
	height: 800px;
    padding-top: 90px;
}
#menus_content {
    margin: auto;
    width: 900px;
}
.platillos{
	width: 300px;
    height: 300px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    float: left;
}
.platillos_fotos{
	width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.platillos_desc{
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    top: 0px;
    display: none;
}
span.desc_titulo {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 50px 0px 20px;
    font-size: 25px;
}
span.desc_txt {
    display: inline-block;
    text-align: center;
    margin: 20px;
}

#salmon{background-image: url("../images/menu/salmon.jpg");}
#teriyaki{background-image: url("../images/menu/teriyaki.jpg");}
#crujimi{background-image: url("../images/menu/crujimi.jpg");}
#pechuga{background-image: url("../images/menu/pechuga.jpg");}
#pescado{background-image: url("../images/menu/pescado.jpg");}

#menus_title {
    font-family: "Roboto",sans-serif;
    text-align: center;
    font-size: 35px;
}
#menus_title {
    font-family: "Roboto",sans-serif;
    text-align: center;
    font-size: 35px;
    margin: 30px 0px;
}
#somos{
    height: 800px;
    background-color: #37474F;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF;
    font-size: 18px;
}
#somos_titulo {
    text-align: center;
    font-size: 40px;
    padding: 50px 0px;
}
#somos_content {
    width: 800px;
    margin: auto;
    position: relative;
}
.somo_txts {
    width: 400px;
    display: inline-block;
    float: left;
    padding: 30px 0px;
}
#txt1 {
    text-align: right;
}
#txt2 {
    text-align: left;
}
.somos_txt_img {
    width: 400px;
    display: inline-block;
    float: left;
    height: 200px;
}
.somos_txt_img img {
    position: relative;
    height: 100%;
    width: auto;
    margin: auto;
}
@media(max-width: 900px){
    #menus_content {
        width: 600px;
    }
}
@media(max-width: 800px){
    #menu_content {
        width: 100%;
        display: none;
    }
    #menu_movil_logo{
        display: block;
    }
    #menu_web_logo{
        display: none;
    }
    .menu_element {
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        margin: 0;
        border-bottom: 1px solid #F49828;
    }
    .menu_element:hover {
        background-color: #F49828;
        color: #FFFFFF;
    }
    #menu_display {
        display: block;
    }
    .platillos_desc{
        display: block;
    }
    #txt1 {
        text-align: center;
    }
    #txt2 {
        text-align: center;
    }
    #somos_content {
        width: 600px;
    }
    .somos_txt_img{
        width: 200px
    }
    .somos_txt_img img{
        width: 200px;
        height: auto;
    }
}
@media(max-width: 600px){
    #menus_content {
        width: 300px;
    }
     #portada{
        height: 100vh;
        background-size: 200vw 100vh;
    }
    #portada_content {
        width: 90%;
        height: 60vh;
    }
    #portada_logo {
        width: 200px;
        height: 200px;
        line-height: 200px;
        font-size: 45px;
    }
    #somos{
        height: 1000px;
    }
}