a{text-decoration: none;}
body{
	font-family: 'Roboto Condensed', sans-serif;
}
.elemento {
    width: 100%;
    display: inline-block;
}
#menu {
    background-color: #000;
    height: 75px;
    border-bottom: 10px solid #F49828;
    position: relative;
}
#menu_content {
    width: 800px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}
#inicio {
    margin: 0px 30px;
}
.menu_element {
    color: #FFFFFF;
    display: inline-block;
    margin: 0px 15px;	
}
.menu_element:hover {
	color: #F49828;
}
#menu_content .logos {
    font-size: 40px;
}
.logos span {
    font-style: italic;
    font-weight: 100;
}
#portada {
    height: 800px;
    background-size: cover;
    background-image: url("../images/cover.jpg");
    position: relative;
}
#portada_fill {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#portada_content {
    width: 335px;
	margin: auto;
	height: 800px;
	z-index: 2;
	position: absolute;
	left: 0px;
	right: 0px;
	color: #FFFFFF;
	text-align: center;
	top: 0;
	bottom: 0;
}
#portada_logo {
    width: 250px;
    height: 250px;
    line-height: 250px;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 250px;
    margin: auto;
    font-size: 60px;
}
#portada_bnt {
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: #F49828;
    font-size: 30px;
}